/*#region Global Html*/ 
/* https://cssminifier.com/ -- Go here to minify css after some change is made, than place minified version to defaul.min.css */
html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    font-size: 1em !important;
    font-weight: normal !important;
}

body {
    color: #555555;
    font-family: 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}
h1 {
    display:inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size:170%;
}
h2 {
    display:inline-block;
    margin: 0;
    padding: 0em;
    font-weight: normal;
    font-size:120%;
}
h3 {
    display:inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size:100%;
}
h4 {
    display:inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size:80%;
}
p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}
label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;

    margin-top:0.3em;
    margin-bottom:0.3em !important;
    display:inline-block;
}
.hr {
    height: 1px;
    border: none;
    display: block;
    width: 100%;
    background-color: #907DDA;
    margin: 0;
    margin-top: 0.2em;
}
.hr-white {
    height: 1px;
    border: none;
    display: block;
    width: 100%;
    background-color: rgba(255,119,0, 0.5);
    margin: 0;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
a:link {
    color: #D61722;
    text-decoration: none;
}
a:hover {
    color: #D61722 !important;
    text-decoration: none;
}
a:visited {
    color: #EC2785 !important;
    text-decoration: none;
}
a:active {
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
}
.fieldset-grey {
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border: 1px solid #EC2785;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float:left;
    padding:1em;
    margin-bottom:1em;
    clear:both;
    width:100%;
}
fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    border: 1px solid #EC2785;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float:left;
    padding:1em;
    margin-bottom:1em;
    clear:both;
    width:100%;
}
legend {
    color: black;
    font-size: 100% !important;
    font-weight: bold !important;
    width: auto !important;
    border: none !important;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin: 0px !important;
}
fieldset > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.2em !important;
    width:33.3%;
    float:left;
}
input[type="button"] {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 0.2em;
	background: -moz-linear-gradient(
		top,
		#ffc89e 0%,
		#EC2785);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffc89e),
		to(#EC2785));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #946300;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
    cursor:pointer;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], textarea {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0.3em;
    border: solid 1px #EC2785;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    color: rgba(0,0,0,1);
    width: 15em;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="date"]:focus, textarea:focus {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
    padding: 0.3em;
    border: solid 1px #EC2785;
    -webkit-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -o-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -ms-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    color: rgba(0,0,0,1);
}
select {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
    padding: 0.2em;
    border: solid 1px #EC2785;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    color: rgba(0,0,0,1);
}
option:disabled {
    background-color:#EFEFEF;
    color: #C8C8C8;
}
form {
    z-index:997 !important;
}
ul {
    z-index:996 !important;
}
li {
    z-index:995 !important;
}
/* remove arrows from textboxes */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*#endregion*/
/*#region Global Functinality*/
.inline {
    display: inline;
}
/* needed by angular ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*#endregion*/
/*#region Animations*/
.animateView {
    height: 100%;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.animateView.ng-enter {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
.animateView.ng-leave {
    padding-left:0.5em;
    padding-right:1em;
    position: absolute;
    top:0;
    -webkit-animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    -o-animation: fadeout 0.5s;
    animation: fadeout 0.5s;    
}
.animateView.ng-enter-active {

}
.animateView.ng-leave-active {
    
}
.animateFade.ng-hide {
  opacity: 0;
}
.animateFade.ng-hide-remove,.animateFade.ng-hide-add {

}
.animateFade.ng-hide-remove {
  transition: all linear 1000ms;
}
.animateFade.ng-hide-add {
  transition: all linear 500ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.slideup, .slidedown {
    position: absolute !important;
    left: 0px;
    right:0px;
    top: 0px;
    text-align: center;
    z-index: 9999 !important;
    background-color: rgba(0, 0, 0, .8);
    display: block;
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    -ms-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}
.slidedown {            
    max-height: 50%;                    
}
#slider > div {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: rgba(255, 119, 0, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99999;
    padding-top:0.5em;
}
#slider > div:last-child {
    padding-bottom:0.5em;
}
/*#endregion*/
/*#region Global Our Forms*/
.buttons-container {
    padding-top:0.5em;
    display: inline-block;
}
.no-data {
    text-align:center;
}
.modelStateError {
    color:#FF0000;
}
/*#endregion*/
/*#region Awesome-Font Icons*/
.fa-icon {
    color:#EC2785;
    cursor: pointer;
}
.fa-pointer {
    cursor:pointer;
}

.fa-icon:hover {
    color: #D61722;
    cursor: pointer;
}
.fa-1-5x {
    font-size: 1.5em;
}

.fa-2-5x {
    font-size: 2.5em;
}
.fa-white {
    color: #ffffff;
}
.fa-orange {
    color: orange;
}
.fa-booking-darkblue {
    color: #EC2785;
}
.fa-grey {
    color: #555555;
}
.fa-icon-white {
    color:#ffffff;
}
.fa-icon-white:hover {
    color:#D61722;
    cursor: pointer;
}
.fa-th:hover {
    color: #D61722;
    cursor: pointer;
}
/*#endregion*/
/*#region Layout*/
#loading-bar .bar {
  position: relative;
  z-index:999999 !important;
}
#loading-bar-spinner {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999 !important;
    background-color:rgba(0, 0, 0, 0);
    text-align:center;
    top:50%;
    left:50%;
}
#loading-bar-spinner .spinner-icon {
  width: 2em !important;
  height: 2em !important;
  border:  solid 0.3em transparent;
  border-top-color:  #907DDA;
  border-left-color: #907DDA;
}
#loading-bar .peg {
  height: 3px;
  opacity: .45;
  -moz-box-shadow: #907DDA 1px 0 6px 1px;
  -ms-box-shadow: #907DDA 1px 0 6px 1px;
  -webkit-box-shadow: #907DDA 1px 0 6px 1px;
  box-shadow: #907DDA 1px 0 6px 1px;
}
#loading-bar .bar {
  background: #907DDA;
}
.loading {
    display:none !important;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999 !important;
    background-color:rgba(0, 0, 0, 0);
    text-align:center;
}
.loading > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding:0.5em;
    border:solid 1px #907DDA;
    color:#907DDA;
    background-color: #ffffff;
    display:inline-block;
    text-align:center;
    position: relative; 
    top:50%;
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
}
.logo-sub-title {
    display:inline-block;
    font-size:70%;
    margin-left:-0.2em;
    color: #EC2785;
    margin-top: 5em;
}
.logo-title {
    display: inline-block;
    position: absolute;
    margin-top: 0.9em;
    margin-left: -0.2em;
    color: #777777;
}
.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    padding-top:0.3em;
    padding-bottom:0.3em;
    padding-left:0em;
    padding-right:0.5em;
    width:100%;
    top:0px;
    left:0px;
    position:absolute;
    background-color:#ffffff;
}
.header-nav {
    float:right;
    position:absolute;
    top:0.5em;
    right:0.5em;
}
.header-nav > div {
    display:inline-block;
    text-align:right;
    float:right;
}
.header-nav > div:nth-child(3) {
    font-size: 90%;
}
.header-nav > div:nth-child(3) > div:nth-child(2) {
    font-size: 80%;
}
.header-nav > i {
    float:right;
}
.layout {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    margin: 0em;
    float:left;
    width: 100%;
    height:100%;
}

.tooltip-inner {
  background-color: #EC2785 !important;
   -webkit-border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px 2px 2px 2px;
   -o-border-radius: 2px 2px 2px 2px;
   -ms-border-radius: 2px 2px 2px 2px;
   border-radius: 2px 2px 2px 2px;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
   -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
   -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
   margin-left:1em;
   margin-right:1em;
   padding:0.5em;
}
.tooltip.top .tooltip-arrow {
border-top-color: #EC2785 !important;
z-index:999999 !important;
}
.tooltip.bottom .tooltip-arrow {
border-bottom-color: #EC2785 !important;
z-index:999999 !important;
}
.tooltip.left .tooltip-arrow {
border-left-color: #EC2785 !important;
z-index:999999 !important;
}
.tooltip.right .tooltip-arrow {
border-left-color: #EC2785 !important;
z-index:999999 !important;
}
.tooltip.top-right .tooltip-arrow {
border-left-color: #EC2785 !important;
z-index:999999 !important;
}
.content {
    margin-top:3em;
}
.section-header {
    position:absolute;
    left: 0.5em;
    right:1.3em;
    /*top:11.5em;*/
    background-color: #FFFFFF;
    top:16.5em;
    z-index:11;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    /*background-color:rgba(239, 239, 239, 1);*/
    z-index: 11;
    display: block !important;
    position: absolute;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding:0.5em;
    padding-top:0.5em;
    padding-bottom:0em;
}

.section-header > i {    
    margin-left:0.15em;
}

.section-header > span > i {    
    margin-top:0.15em;
}

.runheader {
    width:100%;
    border: 1px solid #EC2785;
}
.runheader > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.1em;
    width:33.3%;
    float:left;
}
.section-header-info > i {
    float:right;
    font-size:150%;
}
.content-header > h2 {
    font-size:120%;
}
.content-header > i:first-child {
    margin-left:0.2em;
}
.content-body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.5em;
    font-size:90%;
}
.footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width:100%;
    bottom:0px;
    left:0px;
    background: #ffffff;
    position:absolute;
    padding:0.5em;
    padding-bottom:0.3em;
}
.copyright {
    font-size:0.7em;
    padding-top:0.3em;
}
/*#endregion*/
/*#region Forms*/
.control-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    padding-bottom:0.5em;
}
.control-item > label {
    font-weight:bold;
}
.control-item > span:not(.required .control-item-radio) {
    display:block;
}
control-item-radio {
    float:left;
}
.soft {
    color:green;
    display:block;
}
.datetime-soft {
    color:green;
    display:block;
}
.hard {
    color:red;
    display:block;
}
.datetime-hard {
    color:red;
    display:block;
}
.required {
    color:red;
}
.datetime {
    color:red;
}
/*#endregion*/

/*#region Grid*/
.grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width:100%;
    border-collapse: separate; 
    border-spacing: 1px;
}

.booking-grid {
    width:100%;
    display:block;
}
.booking-grid > div:first-child {
    width:100%;
    display:block;    
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.booking-grid > div:nth-last-child(2) {
    width:100%;
    display:block;
    text-align:center;
    border-bottom: solid 1px #EC2785 !important;

    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    border-radius: 0px 0px 5px 5px;
    text-align: left !important;
}
/*.booking-grid-row:nth-child(even) {background: rgba(239, 239, 239, 1);}
.booking-grid-row:nth-child(odd) {background: rgba(255, 255, 255, 1);}*/

.booking-grid-row {   
    margin-top: 10px; 
    border-bottom: solid 1px #EC2785;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
    padding:0.5em;
    border-top: solid 1px #EC2785;
    border-left: solid 1px #EC2785;
    border-right: solid 1px #EC2785;
}
.booking-grid-row > div:first-child {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
    padding:0em;
    /*display:block !important;*/
    /*width:100% !important;*/
}
.booking-grid-row > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
    padding:0.2em;
    width:33%;
    display:inline-block;
    white-space:nowrap !important;
}

.booking-grid > div:last-child {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.5em;
    text-align: center !important;
}

.redAccordion {
    background-color: red !important;
    color: white;
}
.red {
    color: red !important;
}
.grid > thead > tr > th {
    padding: 0.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align:left;
    background-color:rgba(213, 213, 213, 1);
    white-space: nowrap;
    vertical-align:text-top;
}
.grid > thead > tr > th:nth-child(1) {
    width:2em;
}
.grid > thead > tr > th:nth-child(2) {
    width:2em;
}
.grid > tbody > tr > td {
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.grid > tfoot > tr > td {
    text-align:center;
    padding: 0.2em;
    background-color:rgba(213, 213, 213, 1);
}
.grid > tbody > tr:nth-child(odd) { background-color: #ffffff; }
.grid > tbody > tr:nth-child(even) { background-color:rgba(239, 239, 239, 1); }
.grid > thead > tr > th:first-child {
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
    -ms-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}
.grid > thead > tr > th:last-child {
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
    -ms-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}
.grid > tfoot > tr > td {
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
/*#endregion*/
/*#region iScroller*/
.iScrollHorizontalScrollbar {
    z-index: 999999;
    position: absolute;
    z-index: 9999;
    height: 6px;
    left: 12em;
    right: 12em;
    bottom: 1.7em;
    overflow: hidden;
    background: rgba(0, 0, 0, .1);    
}
.iScrollHorizontalScrollbar.iScrollBothScrollbars {
    right: 18px;
}
.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 6px;
    bottom: 0.5em;
    top: 3.5em;
    right: 1px;
    overflow: hidden;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
}
.iScrollIndicator {
    position: absolute;
    border-radius: 10px;
}
.iScrollHorizontalScrollbar .iScrollIndicator {
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
.iScrollVerticalScrollbar .iScrollIndicator {
    width: 100%;
    background: rgba(0, 0, 0, .3);
}
.scroller {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;    
    padding:0.5em;
    padding-top:0em !important;
    /*background-color:rgba(239, 239, 239, 1);*/
    z-index: 10;
    display: block !important;    
    overflow: hidden;
    margin: 0px;    
    position: absolute;
    left: 0.5em;
    right:0.5em;
    /*top:11.5em;*/
    top:16.5em;
    bottom:1.8em;
    overflow-y:scroll !important;
}
.scroller > ul {
    padding: 0px;
    margin: 0px;
    border: 0px;

}
.scroller > ul > li {
    padding: 0.5em;
    padding-top: 0em !important;
    padding-right: 1em;
    margin: 0px;
    border: 0px;
    list-style-type: none;
    display:block;    
}
.bottom-nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #EC2785;
    border-bottom: solid 1px #777777;
    padding-bottom:0.3em;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*#endregion*/
datetime-picker .ui-select {
    width: 22%;    
}
datetime-picker .form-control {
    height: 22px;
}
datetime-picker .btn {
    padding: 3px 12px;
}
datetime-picker span {
    /*font-size: 0.9em;*/
}
.date-picker-signs {
    position: relative;
    top: -7px;
}
.datetimepicker > div > span {
    padding:0px !important;
    margin:0px !important;
}
.datetimepicker > div > span > a {
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #EC2785 !important;
    border-color: #CD5F00  !important;
}
.btn-booking-primary, .btn-booking-primary:hover, .btn-booking-primary:active, .btn-booking-primary:visited {
    background-color: #EC2785 !important;
    border-color: #000  !important;
    color: #fff;
}
/*#region Media Queries*/
/* fix for orientation */
@media (orientation: portrait) {
    body {
    }
}
@media (orientation: landscape) {
    body {
    }
}
/* everything over 960 */
@media screen and (min-width: 960px) {
    body {
        font-size: 0.8em;
    }
    .control-item {
        width:33.33%;
    }
    .runheader > div {
        width:33.3%;
    }
    fieldset > div {
        width:33.3%;
    }
    datetime-picker .ui-select {
        width: 30%;
    }
}
/* everything over 1200 */
@media screen and (min-width: 1200px) {
    datetime-picker .ui-select {
        width: 27%;
    }
}
/* everything over 1500 */
@media screen and (min-width: 1500px) {
    datetime-picker .ui-select {
        width: 21%;
    }
}
/* everything below 960 WINDOWS PHONE */
@media screen and (max-width: 960px) {
    body {
        font-size: 0.7em;
    }
    .scroller {
    }
    .bottom-nav > div > div > i {
        font-size:250%;
    }
    .control-item {
        width:50%;
    }
    .runheader > div {
        width:50%;
    }
     fieldset > div {
        width:50%;
    }
    datetime-picker .ui-select {
        width: 24%;
    }
    .booking-grid-row > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        padding:0.2em;
        width:45%;
        display:inline-block;
    }
}
/* everything below 758 */
@media screen and (max-width: 758px) {
    body {
        font-size: 0.7em;
    }
    .scroller {
    }
    .bottom-nav > div > div > i {
        font-size:250%;
    }
    .control-item {
        width:50%;
    }
    .runheader > div {
        width:50%;
    }
     fieldset > div {
        width:50%;
    }
    datetime-picker .ui-select {
        width: 30%;
    }
   .booking-grid-row > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        padding:0.2em;
        width:100%;
        display:inline-block;
    }
}
/* everything below 524 */
@media (max-width: 526px) and (orientation: landscape) {
    body {
        font-size: 0.6em;
    }
    .scroller {
    }
    .bottom-nav > div > div > i {
        font-size:250%;
    }
    .control-item {
        width:100%;
        min-height: 2em !important;
    }

    .runheader > div {
        width:100%;
    }
     fieldset > div {
        width:100%;
    }
    datetime-picker .ui-select {
        width: 23%;
    }
    .booking-grid-row > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        padding:0.2em;
        width:100%;
        display:inline-block;
    }
}
@media (max-width: 526px) and (orientation: portrait) {
    body {
        font-size: 0.7em;
    }
    .scroller {
    }
    .bottom-nav > div > div {
        padding:0.5em;
    }
    .bottom-nav > div > div > i {
        font-size:250%;
    }
    .control-item {
        width:100%;
    }
    .runheader > div {
        width:100%;
    }
     fieldset > div {
        width:100%;
    }
    datetime-picker .ui-select {
        width: 23%;
    }
    .booking-grid-row > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;    
        padding:0.2em;
        width:100%;
        display:inline-block;
    }
}
/*#endregion*/
/*#region Custom Modules/Directives */
.datetimepicker {    
}
.dtpfields > div:not(.splitter) > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px rgba(255, 255, 255, 1);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color:#EC2785;
    color:#ffffff;
    padding:0.5em;
    min-width:2.5em;
    display:inline-block;   
}
.dtpfields > div:not(.splitter) {
    float:left; 
    text-align:center;
}
.dtpfields > div:not(.splitter) > div {
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.dpt-margin-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-right:1em !important
}
.splitter {

    float: left;
    display: inline-block;
    margin-top: 2.3em;
    padding: 0.2em;
}
.fa-margin-bottom {
    margin-bottom:-0.2em;
}
.fa-margin-top {
    margin-top:0em;
}
/*#endregion*/

.clearfix {
    clear: both;
}

/*#region Section Navigation*/

.active-section {
    color: #D61722 !important;
}
.section-navigation {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding:0;
    margin:0;
    margin-left:0.5em;    
    position:absolute;
    top:8.6em;
}
.section-navigation > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.5em;
    margin:0.1em;
    float:left;
    cursor:pointer;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    background-color: rgba(239, 239, 239, 1) !important;
}
.section-navigation > li:hover {
    color:#D61722;
}
.highcharts-credits {
    fill: white !important;
    color: white !important;
}
@media screen and (max-width: 1224px) {
    .scroller {
        top:14em;
    }
    .section-header {
        top:14em;
    }
}
@media screen and (max-width: 600px) {
    .scroller {
        top:16.5em;
    }
    .section-header {
        top:16.5em;
    }
}
@media screen and (max-width: 425px) {
    .scroller {
        top:19em;
    }
    .section-header {
        top:19em;
    }
}
/*#endregion*/

/*#region Main Navigation*/
/* Menu Styles */
.main-navigation {
     z-index:999 !important;
     display:block;
     border:solid 1px white;
     position:absolute;
     top:6.2em;
     left:0.5em;
}
.third-level-menu
{
    z-index:999 !important;
    position: absolute;
    top: 0;
    right: -20em;
    width: 20em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    color: rgba(0, 0, 0, 1);
}

.third-level-menu > li
{
    padding:0.5em;
    background-color: rgba(213, 213, 213, 1);
    z-index:999 !important;
    border:solid 1px white;
}
.third-level-menu > li:hover
{
    background-color: rgba(213, 213, 213, 1);
}
.third-level-menu > li:hover { color:#EC2785 !important; }

.second-level-menu
{
    position: absolute;
    left: 0;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index:999 !important;
}

.second-level-menu > li
{
    position: relative;    
    background-color: rgba(213, 213, 213, 1);
    z-index:999 !important;
    border:solid 1px white;    
    padding:0.3em;
    padding-left:1em;
    padding-right:1em;
    top:0.3em;
    left:0em;
}
.second-level-menu > li:hover { color: #EC2785 !important; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index:999 !important;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    padding:0.3em;
    padding-left:1em;
    padding-right:1em;
    background-color: rgba(239, 239, 239, 1);
    z-index:999 !important;
    border:solid 1px white;
}
.top-level-menu > li:hover { color: #D61722 !important; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}
/* Menu Link Styles */
.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    text-decoration: none;
    display: block;
    color: #555555;
    cursor:pointer;
}
.top-level-menu a:hover { color: #D61722 !important; }
/*#endregion*/

.smallH {
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.dp-list {
    position:absolute;
    z-index:11 !important;
    width: 15em;
    height:15em;
    overflow-y:auto;
    background-color:white;
    display:inline-block;
    border: solid 1px #EC2785;
}
.dp-list-item {
    padding:0.2em;
}
.dp-list-item:hover {
    padding:0.2em;
    background-color: #EC2785;
    color: white;
}
.dp-list-item-selected {
    background-color: #EC2785 !important;
    color: white;
}
.ui-select {
    width:10em;
    display:inline-block;
}
.panel-body, panel-default {
    display:block !important;
}
.ac-select-wrapper {
    position: relative;
    display: inline-block;
}
.ac-select-wrapper, .ac-select-wrapper input, .ac-select-wrapper select {
    background-color: white;
}

.ac-select-main {
    vertical-align: middle;
    padding-left:2px;
    margin-right: -2px;
    height: 21px;
    border: 1px solid #c0c0c0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ac-select-main-closed {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ac-select-main-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ac-select-table {
    padding-left: 2px;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    /*min-width: 150px;*/
}

.ac-select-display {
    padding-left: 3px;
    vertical-align: middle;
}
.ac-select-table td {
    white-space: nowrap;
    padding: 0px !important;
}
.ac-select-widener td {
    visibility: hidden;
    padding: 0px;
}
td.ac-select-longest {
    padding-right:4px;
}
td.ac-select-image {
    background-image: url('images/dropdown.gif');
    background-repeat: no-repeat;
    height: 21px;
    width: 19px !important;
    cursor: pointer;
    vertical-align: bottom;
    margin-bottom: 0px;
    border-left: solid 1px #e8e8e8;
}
div.ac-select-popup {
    top: 22px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    z-index: 5000;
    background-color: white;
    padding-top: 2px;
    width: 100%;
    margin-bottom: 0px;
    z-index:999999 !important;
    display:inline-block !important;
}
div.ac-select-list {
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 1px;
    border-top: 1px solid #d0d0d0;
    z-index:999999 !important;
}
div.ac-select-no-items {
    padding-left: 3px;
    padding-bottom: 3px;
}
.ac-select-text-wrapper {
    padding: 0px;
    padding-left: 7px;
}
.ac-select-text {
    padding-left: 2px;
    width: 100%;
    margin-left: -4px;
    margin-right: -6px;
    border-width: 0px !important;
}
.ac-select-search-wrapper {
    padding: 0 6px;
    padding-bottom: 2px;
    margin-left: -2px;
    padding-left: 6px;
}
.ac-select-search-wrapper table {
    width: 100%;
}
.ac-select-search {
    padding-left: 2px;
    width: 100%;
    margin-left: -3px;
}
td.ac-select-add {
    cursor: pointer;
    width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.ac-select-add div {
    border: 1px solid transparent;
    margin: 4px;
    width: 16px;
    line-height: 16px;
}
.ac-select-add div:hover {
    border: 1px solid #d0d0d0;
}
.ac-select-disabled {
    color: #c0c0c0;
    cursor: pointer;
}
.ac-select-highlight {
    background-color: #d0d0d0;
}
.ac-select-popup ul {
    cursor: pointer;
    padding: 3px 0px 3px 0px;
    margin: 0;
    text-align: left;
    list-style: none;
    width: 100%;
}
.ac-select-popup li {
    padding-left: 3px;
    margin-right: 3px;
    margin-left: 3px;
    white-space: nowrap;
}
.ac-select-popup li:hover {
    background-color: #f0f0f0;   
}
.ac-select-load-more {
    color: #808080;
    width: 97%;
    margin: 3px 6px 3px 6px;
    line-height: 18px;
    border-top: 1px solid #d0d0d0;
}
.ac-select-loading {
    padding-left: 6px;
    color: #808080;
}
.ac-select-load-more span {
    cursor: pointer;
    padding-left: 12px;
}
.ac-select-filter-options {
    font-family: Arial, sans-serif;
    padding: 2px 4px 0px 4px;
    font-size: 10px;
    color: #666;
    border-top: solid 1px #d0d0d0;
}
.myGrid {
    width: 900px;
    height: 300px;
 }
.ui-grid-row .ui-grid-cell {
    height: 80px !important;
}
.panel-heading, .panel-heading h4, .panel-heading h4 a {
    display: block;
    height: 35px;
}
.panel-heading {
    padding: 0;
}
.panel-heading > h4 > a > span {
    display: block;
}
.panel-heading > h4 > a > span > span {
    display: block;
    height: 35px;
    padding: 10px;
}
/*This two lines are for hiding filter in cannula grid*/
.ui-grid-column-menu {
    display: none;
}
.ui-grid-column-menu-button {
    display: none;
}

.alt {
    text-align: right;
}
.altHead {
    border-bottom: 2px solid black;
    text-align: right;
}
text.highcharts-credits {
    display: none;
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

.itemInGridSelected {
    background-color: aliceblue !important;
}
/*Hide mozzila number input arrows*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}






/*Menu import styles*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*background: #F3F4F8;*/
}

ul.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: #907dda;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
ul.nav > li {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 60px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 1px;
  color: #e7e6f1;
  cursor: pointer;
}
ul.nav > li:hover {
  background: rgba(0, 0, 0, 0.1);
}
ul.nav > li:hover ul.dropdown {
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  z-index: 0;
}
ul.nav > li:hover ul.dropdown > li {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
ul.nav > li:first-child {
  border-top-left-radius: 6px;
}
ul.nav > li:last-child {
  border-top-right-radius: 6px;
}

ul.dropdown {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  margin: 0;
  padding: 5px 0 30px;
  list-style: none;
  color: #333;
  background: #e5e4ea;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
  transition: opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s ease-out;
  opacity: 0;
  z-index: -1;
}
ul.dropdown > li {
  font-size: 14px;
  cursor: pointer;
}
ul.dropdown > li:hover {
  background: rgba(0, 0, 0, 0.06);
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.navbar {
        margin-top: 123px;
}

.LocationImageHolder {
    width: 100%; display:inline-block;
}

.LocationRepeater {
    width: 30%; 
    display:inline-block;  
    margin: 0 1.5%;
}
.LocationImageHolder img{
    cursor:pointer;
    width: 100%;
}
.LocationNameHolder {
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    background: #EC2785;
    position: relative;
    top: 40px;
    padding: 5px;
}

.LocationImageHolder img:hover {  
   opacity: 0.8;
   /*Glow*/
  -webkit-box-shadow: 0px 0px 60px #907DDA;
  -moz-box-shadow: 0px 0px 60px #907DDA;
  box-shadow: 0px 0px 60px #907DDA;
}

.filterOptionsHolder {
    display: inline-block;
    width: 124px;
    text-align: center;
    padding: 5px;
    border: 2px solid #907DDA;
}
/*
.filterOptions label {
    width: 67px;
}

.filterOptions input[type=checkbox] {
    margin-right: 10px;
}*/

.inputFilters {
    display: inline-block; margin-left: 10px;
}

/*CHECKBOX STYLES - NEW LOOK*/
.filterOptions {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.filterOptions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filterOptions:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filterOptions input:checked ~ .checkmark {
    background-color: #907DDA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filterOptions input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filterOptions .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 40px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal{display:block;position: fixed;z-index: 100;padding-top: 300px !important;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content{background-color: #fefefe;margin: auto;padding: 20px;border: 1px solid #888;width: 55%;}
.close{color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus{color: #000;text-decoration: none;cursor: pointer;}




.btn[disabled] {
    opacity: 0.90;
    filter: alpha(opacity=90);
    background-color: red;
    color: black;
}

.iSentMessage {
    text-align: right;
}

.heSentMessage {
    text-align: left;
}


/*comments*/
.contentOfComment {
    background-color: beige;
    min-height: 70px;
    text-align: left;
    padding: 10px;
}

.senderOfCommentHolder {
    background-color: white;
    padding: 2px;
}

.commentBlock {
    padding: 10px;
    border: 2px solid #907DDA;
    margin: 5px 0;
}

.comentator, .commentDate {
    display:inline-block;
}

.commentator {
    text-align: left;
}

.commentDate {
    text-align: right;
    float: right;
}

.accomodationCommentContet {
    background-color: cornflowerblue;
    color: white;
}


/*rating stuff*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 30px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}