<div class="wrapper">
  <div class="d-flex justify-content-center">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate>

      <div *ngFor="let field of formFields">

        <label for={{field.id}}> {{field.label}} </label>
        <input type="number" name={{field.id}} *ngIf="field.type.name == 'long'" class="form-control" ngModel>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Potvrdi</button>
      </div>
    </form>

  </div>

</div>
