<div class="section-header" ng-class="{largeH: route == '/login', smallH: route != '/login'}">
    <i class="fa fa-2x {{icon}} fa-booking-darkblue"></i>
    <h2>{{title}}</h2>
    <span class="section-header-info" style="display:none;">
        <i class="fa fa-1x fa-fw fa-warning fa-icon" data-ng-click="alert('Important notest goes here.')" 
            title="Important" data-toggle="tooltip" data-placement="auto" data-container="body"></i>
        <i class="fa fa-1x fa-fw fa-question-circle fa-icon" data-ng-click="alert('Help notest goes here.')"
            title="Help" data-toggle="tooltip" data-placement="auto" data-container="body"></i>
        <i class="fa fa-1x fa-fw fa-info-circle fa-icon" data-ng-click="alert('Information notest goes here.')" 
            title="Info" data-toggle="tooltip" data-placement="auto" data-container="body"></i>
    </span>
    <hr class="hr" />
</div>